@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
  line-height: 1.5;
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 1rem;
}

h2 {
  font-weight: bold;
  text-align: center;
}

h3 {
  margin: 0;
}

h4 {
  margin: 0;
}

a {
  text-decoration: none;
  color: #fff;
  background-color: #444;
  padding: .6rem;
}

ul {
  padding: 0;
}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5rem;
  align-items: center;
}

img {
  width: 100%;
  display: block;
  max-width: 5rem;
}

li hgroup {
  width: 16rem;
  padding: 2rem;
}

p {
  max-width: 24rem;
}
